DATABASE_URL="postgresql://stock_hub:stock_hub@localhost:55433/stock_hub_dev"
API_HOST="127.0.0.1"
API_PORT="3200"
WEB_PORT="5174"
VITE_API_URL="http://127.0.0.1:3200"
STORAGE_DRIVER="local"
LOCAL_UPLOAD_DIR="apps/api/uploads"
R2_ACCOUNT_ID="6e269ad76583452d70b8eef25aabe1ce"
R2_ACCESS_KEY_ID="6b36d8d3bfc4fc538bd9fcbcfbc3a535"
R2_SECRET_ACCESS_KEY="8ad705e3ac32c39b7fc48f0e48a73e29a4b16ad3d3917cf3c25e8ea46072d5b4"
R2_BUCKET="stock-hub"
ENDPOINT="https://6e269ad76583452d70b8eef25aabe1ce.r2.cloudflarestorage.com"
